/*app*/

.nav {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 20px;
    margin-top: 100px;
    width: 100%;
    
}

.link {
    color:white;
    font-size: 25px;
    text-decoration: none;
}

body {
  background-color: #DDBEB0;
  display: flex;
  flex-direction: column;
  margin:0;
  
}


/*recipes*/


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  
}

.container {
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.row {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  background-color: #B88F74;
  border-radius:10px;
  box-shadow: 2px 2px 2px 2px #645540
}


.card {
  background-color: #DDBEB0;
  padding:40px;
  
}

button {
  margin: 30px;
  background-color: #257E54;
  color: white;
  box-shadow: 2px 2px 2px 1px #257e54;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  width:fit-content
  
}

.btn {
  background-color: grey;
  box-shadow: 2px 2px 2px 1px grey;
}

.btn:hover {
  color:#645540;
}

button:hover {
  background-color: white;
  color:#257E54;
}

input {
  padding: 15px;
  border: none;
  font-size: 15px
}

h1 {
   color: #645540;

}

.heading {
  padding:20px;
}

h2 {
  text-align: center;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  
  
}


p {
  margin: 20px;
  text-align: center;
  
  font-size: 20px;
  padding: 10px;
  line-height: 30px;
}

.label {
  text-transform: uppercase;
}


.block {
  display: block;
}

.none {
  display: none;
}

.loaderCont {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  border-radius: 50%;
   
}



@media all and (max-width: 500px) {

  img {
    width: 300px;
  }

  h2 {
    font-size: 18px;
  }

  .card {
    padding: 20px;
  }

  .container {
  width: 350px;

  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin:10px;
  }

  .label {
    font-size: 15px;
  }
}