/*app*/

.nav {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    
}

.link {
    color:white;
    font-size: 25px;
    text-decoration: none;
}

body {
  background-color: #DDBEB0;
  display: flex;
  flex-direction: column;
  margin:0;
  
}


/*recipes*/


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  
}

.container {
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.row {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  background-color: #B88F74;
  border-radius:10px;
  box-shadow: 2px 2px 2px 2px #645540
}


.card {
  background-color: #DDBEB0;
  padding:40px;
  
}



.pulse {
    animation: pulse 3s infinite ease-in-out;
    animation-delay: 3;
}

@keyframes pulse {
  0% {
    transform: scale(1);
        
    
    
  }
  50% {
    transform: scale(1.03);
    
    
  }
  100% {
    transform: scale(1);
    
  }
}

button {
  margin: 30px;
  background-color: #257E54;
  color: white;
  box-shadow: 2px 2px 2px 1px #257e54;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  width:fit-content;
  animation: pulse 1.5s infinite ease-in-out;
  
}

.btn {
  background-color: grey;
  box-shadow: 2px 2px 2px 1px grey;
  
}

.btn:hover {
  color:#645540;
}

button:hover {
  background-color: white;
  color:#257E54;
}

input {
  padding: 15px;
  border: none;
  font-size: 15px
}

h1 {
   color: #645540;

}

.heading {
  padding:20px;
}

h2 {
  text-align: center;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  
  
}


p {
  margin: 20px;
  text-align: center;
  
  font-size: 20px;
  padding: 10px;
  line-height: 30px;
}

.label {
  text-transform: uppercase;
}


.block {
  display: block;
}

.none {
  display: none;
}

.loaderCont {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #808080;
  display: flex;
  justify-content: center;
  
}


.loader {
  border-radius: 50%;
  border: 1px solid white; 
}

.pulse {
    animation: pulse 3s infinite ease-in-out;
    animation-delay: 3;
}

@keyframes pulse {
  0% {
    transform: scale(1);
        
    
    
  }
  50% {
    transform: scale(1.03);
    
    
  }
  100% {
    transform: scale(1);
    
  }
}
.advice {
  text-transform: uppercase;
}

video {
    width:300px;
    height: 300px;
    margin-top: 20px;
  }

@media all and (max-width: 1200px) {
  .nav {
    flex-direction: column;
    justify-content: space-between;
    
    align-items: center;
    height:150px;
    width:100vw;
    padding:20px 0px 30px 0px;
  }

  .loaderCont {
    padding-bottom: 40%;
  }

  h1 {
    text-align: center;
  }


}

@media all and (max-width: 500px) {

  img {
    width: 250px;
  }

  h2 {
    font-size: 18px;
  }

  .card {
    padding: 0px;
  }

  .container {
  width: 350px;

  }

  .nav {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .link {
    margin:10px;
    font-size: 15px;
  }

  .label {
    font-size: 15px;
  }

  

  .nav {
    align-items: flex-end;

  }

}